body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.pattern{
    margin-left: 0px;
    margin-top: 0px;
    height: 180px;
    background-image: url(../img/pattern.png); 
    background-color: rgb(2, 141, 255);
}
.logo{
   margin-left: 240px;
    float: left;
    width: 300px;
    height: 180px;
}
h1{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    font-size: 50px;
}
.autore{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
  
}
.tim1{
    margin-left: 50px;
}
.description{
    margin-top: 0px;
    margin-left: 50px;
}
.lorem3{
    background-color: yellow;
}
.dati{
    color: gray;
}
.booleaner{
    color: rgb(44, 173, 230);
}
th{
    width: 400px;
}
.prima-riga{
    background-color: rgb(32, 169, 229);
}
.seconda-riga{
    background-color: rgb(177, 229, 242);
}
.quarta-riga{
    background-color: rgb(177, 229, 242);
}
.lorem1{
    margin-left: 50px;
}
ul{
    margin-left: 23px;
}
table{
    margin-left: 50px;
}
footer{
    margin-left: 50px;
}
.consigli{
    color: gray;
}